.setting-wrap {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.select-item {
  margin: 10px 0;
}
.setting-button {
  align-self: normal;
  margin: 10px 20px;
}
